# Task 4.8

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#### importing data

path = r'E:\Aarthi Sarathi\Career Foundry\Exercise 4\Instacart Basket Analsis'
df_ords_prods_merge = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_derived.csv'))

In [4]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,add_to_cart_order,reordered,user_id,order_number,order_day_of_the_week,order_hour_of_day,days_since_prior_order,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,1107,7,0,38259,2,1,11,7.0,both,Mid-range product,Regularly busy,Busiest days,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,5319,3,1,196224,65,1,14,1.0,both,Mid-range product,Regularly busy,Busiest days,Most orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,7540,4,1,138499,8,0,14,7.0,both,Mid-range product,Busiest day,Busiest days,Most orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,9228,2,0,79603,2,2,10,30.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,9273,30,0,50005,1,1,15,NaN,both,Mid-range product,Regularly busy,Busiest days,Most orders

In [5]:
df_ords_prods_merge.shape

(32404859, 18)

### Step 2 and 3

In [6]:
#output aggregated mean of the “order_number” column grouped by “department_id” for whole dataframe
                                                                                        
df_ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

#output for aggregated mean of the “order_number” column grouped by “department_id” for 1000000 subset of data frame

order_number
mean
department_id	
4	18.825780
7	17.472355
13	17.993423
14	19.246334
16	19.463012
17	11.294069
19	19.305237
20	17.599636

Observation:
There are 21 depatment_id's in whole set where in subset there are only 8 department id's. And the mean of order numbers are different in both whole and sub set dataframe

### Step 4

In [7]:
# Creating new column "max_order"
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\admin\AppData\Local\Temp\ipykernel_7036\1363518770.py:2: FutureWarning: The provided callable <function max at 0x00000218196ADF80> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
# Checking for new column
df_ords_prods_merge.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,add_to_cart_order,reordered,user_id,order_number,order_day_of_the_week,order_hour_of_day,days_since_prior_order,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,1107,7,0,38259,2,1,11,7.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,4
1,1,Chocolate Sandwich Cookies,61,19,5.8,5319,3,1,196224,65,1,14,1.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,99
2,1,Chocolate Sandwich Cookies,61,19,5.8,7540,4,1,138499,8,0,14,7.0,both,Mid-range product,Busiest day,Busiest days,Most orders,23
3,1,Chocolate Sandwich Cookies,61,19,5.8,9228,2,0,79603,2,2,10,30.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,5
4,1,Chocolate Sandwich Cookies,61,19,5.8,9273,30,0,50005,1,1,15,NaN,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
5,1,Chocolate Sandwich Cookies,61,19,5.8,9696,5,1,108919,46,5,16,8.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,51
6,1,Chocolate Sandwich Cookies,61,19,5.8,11140,1,1,63782,4,1,14,14.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,6
7,1,Chocolate Sandwich Cookies,61,19,5.8,11485,4,0,170451,5,5,18,24.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
8,1,Chocolate Sandwich Cookies,61,19,5.8,12672,3,1,106854,28,5,10,6.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,99
9,1,Chocolate Sandwich Cookies,61,19,5.8,13668,4,1,181127,10,4,17,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,22
10,1,Chocolate Sandwich Cookies,61,19,5.8,14668,13,1,106519,18,0,22,7.0,both,Mid-range product,Busiest day,Busiest days,Average orders,23
11,1,Chocolate Sandwich Cookies,61,19,5.8,16132,1,1,145505,64,2,10,5.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,67
12,1,Chocolate Sandwich Cookies,61,19,5.8,18303,1,1,139923,16,0,23,14.0,both,Mid-range product,Busiest day,Busiest days,Fewest orders,39
13,1,Chocolate Sandwich Cookies,61,19,5.8,19479,5,0,110984,2,2,12,20.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,16
14,1,Chocolate Sandwich Cookies,61,19,5.8,19569,9,1,180719,84,4,19,0.0,both,Mid-range product,Least busy,Slowest days,Average orders,89
15,1,Chocolate Sandwich Cookies,61,19,5.8,19879,12,0,142388,7,3,5,15.0,both,Mid-range product,Regularly busy,Slowest days,Fewest orders,11
16,1,Chocolate Sandwich Cookies,61,19,5.8,19939,2,0,200356,11,2,12,0.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,12
17,1,Chocolate Sandwich Cookies,61,19,5.8,19989,1,0,4122,11,2,7,8.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,40
18,1,Chocolate Sandwich Cookies,61,19,5.8,23202,3,0,162394,2,3,12,7.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,4
19,1,Chocolate Sandwich Cookies,61,19,5.8,24367,2,1,148255,18,6,17,6.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,23

In [9]:
# Assign loyalty flag

df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [10]:
# Check loyalty flags
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [11]:
# Check Loyalty flag in dataframe
df_ords_prods_merge[['user_id', 'loyalty_flag', 'order_number','max_order']].head(20)

    user_id      loyalty_flag  order_number  max_order
0     38259      New customer             2          4
1    196224    Loyal customer            65         99
2    138499  Regular customer             8         23
3     79603      New customer             2          5
4     50005  Regular customer             1         22
5    108919    Loyal customer            46         51
6     63782      New customer             4          6
7    170451      New customer             5         10
8    106854    Loyal customer            28         99
9    181127  Regular customer            10         22
10   106519  Regular customer            18         23
11   145505    Loyal customer            64         67
12   139923  Regular customer            16         39
13   110984  Regular customer             2         16
14   180719    Loyal customer            84         89
15   142388  Regular customer             7         11
16   200356  Regular customer            11         12
17     4122  Regular customer            11         40
18   162394      New customer             2          4
19   148255  Regular customer            18         23

### Step 5

Changing the outliers priced 99999 to np.nan

In [12]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [13]:
# the min max and mean of each loyalty flag
df_ords_prods_merge.groupby(['loyalty_flag']).agg({'prices':['mean','min','max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.773575  1.0  25.0
New customer      7.801206  1.0  25.0
Regular customer  7.798262  1.0  25.0

New customers have the least price of products in both the average and max. Loyal customer have the highest price of products in both the average and max.

### Step 6

In [14]:
#creating average_spending column to capture average of price across all orders

df_ords_prods_merge['average_spending'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')
df_ords_prods_merge

,product_id,product_name,aisle_id,department_id,prices,order_id,add_to_cart_order,reordered,user_id,order_number,...,order_hour_of_day,days_since_prior_order,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spending
0,1,Chocolate Sandwich Cookies,61,19,5.8,1107,7,0,38259,2,...,11,7.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,4,New customer,7.163333
1,1,Chocolate Sandwich Cookies,61,19,5.8,5319,3,1,196224,65,...,14,1.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,99,Loyal customer,5.342729
2,1,Chocolate Sandwich Cookies,61,19,5.8,7540,4,1,138499,8,...,14,7.0,both,Mid-range product,Busiest day,Busiest days,Most orders,23,Regular customer,7.469540
3,1,Chocolate Sandwich Cookies,61,19,5.8,9228,2,0,79603,2,...,10,30.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,5,New customer,6.986207
4,1,Chocolate Sandwich Cookies,61,19,5.8,9273,30,0,50005,1,...,15,NaN,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,7.493154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,49688,Fresh Foaming Cleanser,73,11,13.5,3111954,3,0,79411,6,...,19,4.0,both,Mid-range product,Least busy,Slowest days,Average orders,36,Regular customer,8.316467
32404855,49688,Fresh Foaming Cleanser,73,11,13.5,3122003,20,0,146323,3,...,16,24.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,9,New customer,8.740690
32404856,49688,Fresh Foaming Cleanser,73,11,13.5,3166828,5,1,188073,7,...,15,30.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,31,Regular customer,6.058416
32404857,49688,Fresh Foaming Cleanser,73,11,13.5,3290206,10,0,121646,3,...,9,14.0,both,Mid-range product,Busiest day,Busiest days,Most orders,11,Regular customer,10.022764
32404858,49688,Fresh Foaming Cleanser,73,11,13.5,3401313,5,0,200377,1,...,11,NaN,both,Mid-range product,Least busy,Slowest days,Most orders,4,New customer,7.364516

In [15]:
#setting flag for spending

df_ords_prods_merge.loc[df_ords_prods_merge['average_spending'] < 10, 'spending_flag'] = 'Low spender'

df_ords_prods_merge.loc[df_ords_prods_merge['average_spending'] >= 10, 'spending_flag'] = 'High spender'

In [16]:
# Check spending flags
df_ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     32285131
High spender      119728
Name: count, dtype: int64

### Step 7

In [17]:
#creating customer_frequency column to capture average of price across all orders

df_ords_prods_merge['customer_frequency'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')
df_ords_prods_merge

,product_id,product_name,aisle_id,department_id,prices,order_id,add_to_cart_order,reordered,user_id,order_number,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spending,spending_flag,customer_frequency
0,1,Chocolate Sandwich Cookies,61,19,5.8,1107,7,0,38259,2,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,4,New customer,7.163333,Low spender,30.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,5319,3,1,196224,65,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,99,Loyal customer,5.342729,Low spender,1.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,7540,4,1,138499,8,...,both,Mid-range product,Busiest day,Busiest days,Most orders,23,Regular customer,7.469540,Low spender,7.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,9228,2,0,79603,2,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,5,New customer,6.986207,Low spender,30.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,9273,30,0,50005,1,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,7.493154,Low spender,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,49688,Fresh Foaming Cleanser,73,11,13.5,3111954,3,0,79411,6,...,both,Mid-range product,Least busy,Slowest days,Average orders,36,Regular customer,8.316467,Low spender,7.0
32404855,49688,Fresh Foaming Cleanser,73,11,13.5,3122003,20,0,146323,3,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,9,New customer,8.740690,Low spender,24.0
32404856,49688,Fresh Foaming Cleanser,73,11,13.5,3166828,5,1,188073,7,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,31,Regular customer,6.058416,Low spender,8.0
32404857,49688,Fresh Foaming Cleanser,73,11,13.5,3290206,10,0,121646,3,...,both,Mid-range product,Busiest day,Busiest days,Most orders,11,Regular customer,10.022764,High spender,28.0
32404858,49688,Fresh Foaming Cleanser,73,11,13.5,3401313,5,0,200377,1,...,both,Mid-range product,Least busy,Slowest days,Most orders,4,New customer,7.364516,Low spender,30.0

In [18]:
#setting flag for frequency

df_ords_prods_merge.loc[df_ords_prods_merge['customer_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'

df_ords_prods_merge.loc[(df_ords_prods_merge['customer_frequency'] > 10) & (df_ords_prods_merge['customer_frequency'] <= 20), 'frequency_flag'] = 'Regular customer'

df_ords_prods_merge.loc[df_ords_prods_merge['customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [20]:
df_ords_prods_merge[['user_id', 'customer_frequency', 'frequency_flag']].head(50)

    user_id  customer_frequency         frequency_flag
0     38259                30.0  Non-frequent customer
1    196224                 1.0      Frequent customer
2    138499                 7.0      Frequent customer
3     79603                30.0  Non-frequent customer
4     50005                 7.0      Frequent customer
5    108919                 7.0      Frequent customer
6     63782                14.0       Regular customer
7    170451                20.0       Regular customer
8    106854                 3.0      Frequent customer
9    181127                14.0       Regular customer
10   106519                 7.0      Frequent customer
11   145505                 4.0      Frequent customer
12   139923                10.0      Frequent customer
13   110984                21.0  Non-frequent customer
14   180719                 3.0      Frequent customer
15   142388                15.0       Regular customer
16   200356                22.0  Non-frequent customer
17     4122                 7.0      Frequent customer
18   162394                 7.0      Frequent customer
19   148255                 7.0      Frequent customer
20   205157                25.0  Non-frequent customer
21   181127                14.0       Regular customer
22    92648                10.0      Frequent customer
23    30345                30.0  Non-frequent customer
24    50898                 4.0      Frequent customer
25    57996                 6.0      Frequent customer
26    77956                 4.0      Frequent customer
27    22561                12.0       Regular customer
28   199115                 9.0      Frequent customer
29    91160                 2.0      Frequent customer
30    50150                 7.0      Frequent customer
31    38748                12.0       Regular customer
32    65777                 6.0      Frequent customer
33   134728                14.5       Regular customer
34    11119                13.0       Regular customer
35    45784                 7.0      Frequent customer
36    21054                30.0  Non-frequent customer
37   196224                 1.0      Frequent customer
38   102960                 4.0      Frequent customer
39   113429                12.0       Regular customer
40   111982                 4.0      Frequent customer
41   144159                 7.0      Frequent customer
42    72224                 7.0      Frequent customer
43    23234                30.0  Non-frequent customer
44   131925                18.0       Regular customer
45    16057                 9.0      Frequent customer
46   124716                30.0  Non-frequent customer
47    60380                14.0       Regular customer
48   197324                20.0       Regular customer
49   157800                10.0      Frequent customer

In [24]:
df_ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

### Export

In [25]:
# Export data to pkl

df_ords_prods_merge.to_csv(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_4_8.csv'))